body {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    text-align: center;
    magin-left: auto;
    margin-right: auto;
}

.switch {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1em;
}

.searchBox {
    width: 500px;
}

.hide {
    visibility: hidden;
}

#error {
    color: red;
}

.claro .dijitSelectLabel {
    width: 120px;
    overflow: hidden;
}